<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNd9kKgkA57B-qRA80CPakA6qw_nrQzKc</string>
	<key>GCM_SENDER_ID</key>
	<string>678818749306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ohayoukenchan.sense.wonder</string>
	<key>PROJECT_ID</key>
	<string>wonder-9f5ea</string>
	<key>STORAGE_BUCKET</key>
	<string>wonder-9f5ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678818749306:ios:daaa582bac2fb9f12ad4c3</string>
</dict>
</plist>